h1, h2, h3, .text-align{
  text-align: center;
}

h1, h3, .header-text{
  color:white;
  font-family: Futura;
}

h2, p, .content-text{
  color:white;
  font-family: Futura;
}

hr, .margin{
border: lightslategray solid 2px;
margin-top: 50px;
margin-left: 200px;
margin-right: 200px;
margin-bottom: 0px;

}

header{
  background-color: rgb(25, 43, 82);
  padding-top: 5px;
  padding-bottom: 5px;
}

body{
  background-color: rgb(25, 35, 49);
  margin: 0px;
}

main p{
  margin-right: 200px;
  margin-left:200px;
}


section{
  text-align: center;
}

div {
  text-align: center;
}

div hr{
  border:rgb(25, 35, 49);
}

nav{
  color:white;
  font-family: Futura;
  margin-left: 430px;
}

footer{
  background-color: rgb(15, 25, 48);
  padding: 5px;
}

footer p{
  text-align: center;
  font-size: 12px;
}

a:link {color: lightblue}
a:visited {color: peru}
a:hover {color: #d4f4ff}
a:active {color: rgb(124, 156, 167)}