/* Changes the aligntment of text for the headers */
h1, h2, h3, p, .text-align{
  text-align: center;
}

/* Changes the color and font for headers */
h1, h2, h3, .header-text{
  color:white;
  font-family: Futura;
}

/* Changes the color, font, and alignment for basic text */
p, .paragraph-text{
  color: white;
  font-family: Futura;
  text-align: center;
}

/* Changes the color, font, text-alignment, and the top margin of listed items within sections */
section li, .list-text{
  color: white;
  font-family: Futura;
  text-align: cetner;
  margin: 50px;
}

/* Changes the border color and margin of horizontal rulers */
hr, .margin{
border: lightslategray solid 2px;
margin-top: 50px;
margin-left: 200px;
margin-right: 200px;
margin-bottom: 0px;

}

/* Changes the background color and padding for the header section */
header{
  background-color: rgb(25, 43, 82);
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Changes the background color and margin for the websites body */
body{
  background-color: rgb(25, 35, 49);
  margin: 0px;
}

/* Changes the left and right margin for basic text within main sections */
main p{
  margin-right: 200px;
  margin-left:200px;
}

/* Changes the alignment of text within div sections */
div {
  text-align: center;
}

/* Changes the color, font, and left margin of text within nav sections */
nav{
  color:white;
  font-family: Futura;
  margin-left: 469px;
}

/* Changes the background color, and padding for the footer section */
footer{
  background-color: rgb(15, 25, 48);
  padding: 5px;
}

/* Changes the text aligment, and font size of text within the footer section */
footer p{
  text-align: center;
  font-size: 12px;
}

/* Changes the colors for links depending on the action */

/* When link is unvisted */
a:link {color: lightblue}

/* When link is visited */
a:visited {color: peru}

/* When the user's mouse is hovering over the link */
a:hover {color: #d4f4ff}

/* When the link is actively being clicked on */
a:active {color: rgb(124, 156, 167)}